@{
    ViewBag.Title = "KoiChan Home";
}

<h1>Select a board and join the community!</h1>
<br />
<h2>What is KoiChan?</h2>
<p>Koichan exists to combat the deterioration of life and to build ourselves into positive forces in this mad, mad world.</p>
<p>Specifically, KoiChan attempts to combine the greatest aspects of imageboards and classic webforums to foster a non-toxic community of freethinkers for the educational, artistic, spiritual, and physical improvement of us all.</p>
<p>In pursuit of this ideal, I kindly ask that you read the guidelines below before posting.</p>
<h4 class="homeSubheader">News</h4>
<br />
<br />

<div class="row">
    <div class="col-8">
        <h4 class="homeSubheader">Guidelines</h4>
        <p>If you are not here for open-minded discussion, or to self-improve and/or help others, BEGONE!</p>
        <p>No lazyposting! Iron sharpens iron. You get what you give!</p>
        <p>No rudeposting! Constructive criticism only. BAD: "This is stupid." GOOD: "This is stupid because..."</p>
        <p>No lewdposting! There are many other sites for that. This is not one of them. Keep it clean!</p>
        <p>On politicalposting: Unfounded generalized statements about any racial/ethnic group is not tolerated. Either elaborate or cite your sources.</p>
        <p>And of course: NOTHING ILLEGAL!</p>
        <p>Happy posting!!</p>
    </div>
    <div class="col-4">
        <img src="~/image/KoiChanLogo.png" alt="KoiChan Logo" style="width:60%">
    </div>
</div>

