<head runat="server">
    <meta http-equiv="refresh" content="2; url=/Identity/Account/Manage/Avatar" />
</head>
@{ 
    ViewBag.Title = "Avatar Updated";
}

<h2 style="text-align:center">Avatar Updated!</h2>
<h4 style="text-align:center">Redirecting...</h4>