@page
@model AvatarModel
@{
    ViewData["Title"] = "Change your avatar";
    ViewData["ActivePage"] = ManageNavPages.Avatar;
}

<h4>@ViewData["Title"]</h4>

<p>[CHANGE YOUR AVATAR]</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}