@page
@model AvatarModel
@{
    ViewData["Title"] = "Change your avatar";
    ViewData["ActivePage"] = ManageNavPages.Avatar;
}

<h4>@ViewData["Title"]</h4>

<p>Change your avatar</p>
<p>[CURRENT AVATAR PIC]</p>
<button class="btn-light">Import photo</button>
<button class="btn-light">Update</button>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}